@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
$twitter-bg : #1da1f2;
$github-bg : #24292e;
$facebook-bg : #1877f2;

.small-container{
    width: 60%;
    margin: auto;
}

body{
    background-color: #f5f5f5;
    margin-top: 70px;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    header{
        background-color: #fff;
        .search_form{
            position: relative;
            width: 50%;
            @media screen and (max-width: 992px) {
                width: 100%;
                margin-top: 5px;
            }
            input{
                width: 100%;
                z-index: 2;
                height: 40px;
                padding: 5px 50px 5px 10px;
                border-radius: 5px 0px 0px 5px;
            }
            button{
                position: absolute;
                right: 0;
                width: 40px;
                height: 40px;
                z-index: 3;
                top: 0;
                background-color: transparent;
                border: none;
                outline: none;
            }
        }
        .nav-item{
            margin: 0 5px;
        }
        .login_nav_link{
            border-radius: 5px;
            padding-right: 15px !important;
            padding-left: 15px !important;
            &:hover{
                background-color: rgba(59, 73, 223, 0.1);
                color: rgb(59, 73, 223);
                text-decoration: underline;
                border-color: rgba(59, 73, 223, .1);
            }
        }
        .btn-outline-primary{
            font-weight: 500;
            &:hover{
                color: #fff;
                text-decoration: underline;
            }
        }
    }
    aside{
        width: 280px;
        min-height: max-content;
        input{
            height: 40px;
            margin-bottom: 20px;
        }
        ul{
            li{
                border-radius: 5px;
                padding: 15px 20px 15px 10px;
                margin: 5px 0px;
                +.active{
                    background-color: #fff;
                    font-weight: 600;
                }
                &:hover{
                    background-color: rgba(59, 73, 223, 0.1);
                    a{
                     color: rgb(47, 58, 178);   
                    }
                }
                a{
                    text-decoration: none;
                    color: #000;
                }
            }
        }
    }
    
    .post_author_info{
        height: 32px;
        .author_image{
            border-radius: 50%;
        }
        .author_name{
            text-decoration: none;
            line-height: 1rem;
        }
        .author_tag{
            text-decoration: none;
            line-height: 1rem;
            font-size: .7rem;
        }
    }
    main{
        .post_card{
            a{
                text-decoration: none;
            }
            .post_title{
                width: calc(100% - 15px);
                line-height: 1.5rem;
                a{
                    text-decoration: none;
                    font-size: 1.5rem;
                    font-weight: bold;
                    color: #000;
                    &:hover{
                        color: rgb(59, 73, 223);
                    }
                }
            }
            .listing__date{
                width: 100%;
                padding: 10px 0;
            }
            .tags_lists{
                .badge{
                    span{
                        font-size: .6rem;
                    }
                    &::before{
                        content: '#';
                    }
                }
            }
            button{
                top: 20px;
                right: 10px;
                background-color: transparent;
                border: none;
                outline: none;
            }
            .post_reaction{
                .reactions_container{
                    .likes{
                        .fa{
                            color: #fff;
                            filter: drop-shadow(1px 1px 1px #000);
                        }
                    }
                    .comments{
                        .fa{
                            color: #fff;
                            filter: drop-shadow(1px 1px 1px #000);
                        }
                    }
                }
            }
        }
        .login_card{
            max-width: 600px;
            padding: 1.5rem;
            margin: auto;
            button{
                width: 100%;
                margin: 5px;
                padding: 10px;
                // text-align: left;
            }
            .social_logins{
                h2{
                    font-size: 1.87rem;
                    text-align: center;
                    line-height: 1.25rem;
                }
                p{
                    text-align: center;
                    a{
                        font-size: 1rem;
                    }
                }
                .facebook_btn{
                    background-color: $facebook-bg;
                    border-color: $facebook-bg;
                }
                .github_btn{
                    background-color: $github-bg;
                    border-color: $github-bg;
                }
                .twitter_btn{
                    background-color: $twitter-bg;
                    border-color: $twitter-bg;
                }
                button{
                    .fab{
                        margin-right: 5px;
                    }
                }
                .tagline{
                    text-align: center;
                    padding: 0;
                    span{
                        background-color: #fff;
                    }
                }
            }
        }
    }
    .profile_section{
        padding: 0 0 20px 0;
        .profile_background{
        }
        .profile_card{
            background-color: #fff;
            max-width: 60%;
            margin: -50px auto 0px auto;
            border-radius: 10px;
            padding: 50px;
            .profile_image{
                position: absolute;
                top: calc(-150px/2);
                width: 150px;
                height: 150px;
                left: 50%;
                transform: translateX(-50%);
                background-color: #000;
                padding: 3px;
                border-radius: 50%;
                img{
                    border-radius: 50%;
                    max-width: 100%;
                }
            }
            .profile_details{
                display: flex;
                justify-content: center;
                .fa{
                    margin-right: 3px;
                }
                .location{}
                .birthday{
                    margin-left: 15px;
                }
                .github_link{
                    margin-left: 15px;

                }
            }
        }
        aside{
            width: 400px;
            margin-right: 10px;
            .profile_left_card{
                .card-header{
                    background-color: #fff;
                }
            }
        }
        .posts_lists{
            width: 100%;
        }
    }
    footer{
        background-color: #d4d4d4;
    }
}