<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Listings - Eco - Codesigns</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <header class="fixed-top">
        <nav class="navbar navbar-expand-lg">
            <div class="container">
              <a class="navbar-brand" href="#">
                <img src="https://dev-to-uploads.s3.amazonaws.com/uploads/logos/resized_logo_UQww2soKuUsjaOGNB38o.png" alt="" width="50" height="40">
            </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <form class="search_form" role="search">
                <input class="form-control" type="text" placeholder="Search">
                <button class="bg-transperent"><div class="fa fa-search"></div></button>
              </form>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link login_nav_link btn" href="login.html">Log in</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link btn btn-outline-primary">Create Account</a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <div class="container py-4 mt-5">
      <aside class="ms-3 float-end">
        <input type="search" class="form-control" placeholder="search..." />
        <div class="card mb-2">
            <div class="card-body">
                <div class="post_author_info">
                    <a href="#" class="float-start">
                      <img class="author_image" src="https://res.cloudinary.com/practicaldev/image/fetch/s--Yx3j7D69--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/669994/3d16dc0e-6d1f-4d30-a489-9d6b916d7297.jpg" alt="Atharva Shirdhankar" width="32" height="32" loading="lazy">
                    </a>
                    <div class="d-flex flex-column ps-2">
                      <a href="#" class="author_name text-dark">Atharva Shirdhankar</a>
                      <a href="#" class="author_tag text-secondary">forhire</a>
                    </div>
                </div>
            </div>
        </div>
        <ul class="list-unstyled">
          <li class="">
            <a class="" href="#">All Listings</a>
          </li>
          <li class="active">
            <a class="" href="#">Contributors/Collaborators Wanted</a>
          </li>
        </ul>
      </aside>
      <main class="">
          <div class="card post_card">
            <div class="card-body p-4 pt-3">
              <div class="post_title">
                <a href="#">
                  I'll design Awesome Blog Banners for your Technical Blogs
                </a>
              </div>
              <div class="listing__date">
                <time datetime="Sun Jul 10 2022 18:15:20 GMT+0530 (India Standard Time)" title="Sunday, 10 July, 2022 at 6:15:20 pm">10 Jul</time>
              </div>
              <div class="tags_lists d-flex w-100 flex-wrap mb-3">
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">tag</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">tag</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">tag</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">tag</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">new</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">new</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">new</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">new</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">another</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">another</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">another</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">another</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">other</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">other</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">other</div>
                <div class="badge bg-secondary me-1 mb-1 d-flex align-items-center">other</div>
              </div>
              <button class="position-absolute" type="button"  id="post_option_dropdown" data-bs-toggle="dropdown" aria-expanded="false">
                <svg width="24" height="24" viewBox="0 0 24 24" class="crayons-icon" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" clip-rule="evenodd" d="M7 12a2 2 0 11-4 0 2 2 0 014 0zm7 0a2 2 0 11-4 0 2 2 0 014 0zm5 2a2 2 0 100-4 2 2 0 000 4z"></path>
                </svg>
              </button>
              <div class="dropdown">                
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="post_option_dropdown">
                  <li><a class="dropdown-item" href="#">Report Abuse</a></li>
                </ul>
              </div>
              <p>Hey there,<br>
                I've started freelancing and provide Blog Banner Design as a service.<br>
                If you want Blog Banners for your technical articles try out my service.
              </p>
              <p>Freelance Gig: <a href="#">https://www.fiverr.com/devatharva/create-stunning-blog-banner-for-your-technical-articles</a></p>
              <p>You can check out my gig for offerings and details.</p>
              
              <hr>
              <div class="post_reaction mt-3">
                <div class="reactions_container d-flex align-items-center">
                    <div class="likes me-3">
                        <div class="fa fa-heart me-1"></div>
                        <span>6</span>&nbsp; Reactions
                    </div>
                    <div class="comments">
                        <div class="fa fa-comments me-1"></div>
                        <span>6</span>&nbsp; Add Comment
                    </div>
                </div>
              </div>
            </div>
          </div>
      </main>
    </div>
    <footer class="py-5">
      <div class="container text-center" style="font-size: 0.875rem;">
        <p class="">
          <a class="" href="/">DEV Community</a> — A constructive and inclusive social network for software developers. With you every step of your journey.
        </p>
        <p class="">Built on <a class="c-link c-link--branded" target="_blank" rel="noopener" href="https://www.forem.com">Forem</a> — the <a target="_blank" rel="noopener" class="c-link c-link--branded" href="https://dev.to/t/opensource">open source</a> software that powers <a target="_blank" rel="noopener" class="c-link c-link--branded" href="https://dev.to">DEV</a> and other inclusive communities.</p>
        <p>Made with love and <a target="_blank" rel="noopener" class="c-link c-link--branded" href="https://dev.to/t/rails">Ruby on Rails</a>. DEV Community <span title="copyright">©</span> 2016 - 2022.</p>
        <a href="" target="_blank" rel="noopener" class="c-link c-link c-link--block c-link--icon-alone self-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" role="img" aria-labelledby="a3clfn6onqhqjisk8nf98ajy0bvs40cq" class="crayons-icon crayons-icon--default c-link__icon"><title id="a3clfn6onqhqjisk8nf98ajy0bvs40cq">Forem logo</title>
              <g clip-path="url(#clip0)" fill="#1AB3A6">
                  <path d="M4.603 1.438a8.056 8.056 0 017.643 5.478 8.543 8.543 0 00-3.023 5.968H8.054C3.606 12.884 0 9.296 0 4.87V1.468a.03.03 0 01.03-.03h4.573zM23.97 6.515a.03.03 0 01.03.03v2.833c0 4.11-3.354 7.442-7.491 7.442h-2.881v5.726h-2.305V14.53l.022-1.145c.294-3.843 3.526-6.87 7.469-6.87h5.155z"></path>
              </g>
              <defs>
                  <clipPath id="clip0">
                      <path fill="#fff" d="M0 0h24v24H0z"></path>
                  </clipPath>
              </defs>
          </svg>
        </a>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
  </body>
</html>